#header
  #header-left
    a(href="/")
      img#logo(src="/images/marshlogo.png" alt="Marsh Tree and Landscaping Logo" title="Marsh Tree and Landscaping Logo")

  #header-right
    h5.number Over 25 years of tree and landscaping experience.
    h5.number Call today for a free estimate!
    h5.number(itemprop="tel") Office: 555-555-5555
    h5.number(itemprop="tel") Cell: 555-555-5555

  nav
    a(href="/" itemprop="url" class=link === '' ? 'active' : '') Home
    a(href="/about" itemprop="url" class=link === 'about' ? 'active' : '') About Us
    a(href="/tree_services" itemprop="url" class=link === 'tree' ? 'active' : '') Tree Services
    a(href="/snow_services" itemprop="url" class=link === 'snow' ? 'active' : '') Snow Services
    a(href="/contact" itemprop="url" class=link === 'contact' ? 'active' : '') Contact Us
